body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    margin-bottom: 30px;
    color: #000000;
}

.menu a {
    display: block;
    width: 320px;
    margin: 10px auto;
    padding: 12px;
    background-color: #88bb6a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #5cbe23;
}
